body {
    font-family: Arial, sans-serif;
    background-color: #021008e0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: #ce2e2e;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background-color: #000000;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 9px;
}

nav a, .dropbtn {
    color: #c51414;
    text-decoration: none;
    margin: 0 10px;
    padding: 8px 12px;
    border: 2px solid #000000;
    border-radius: 20px;
    background-color: #000000;
    transition: background-color 0.3s, color 0.3s;
    font-size: 18px; /* добавляем размер шрифта */
}

nav a:hover, .dropdown:hover .dropbtn {
    background-color: #4d0000;
    color: #fff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 9px;
}
.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-content a:hover {
    background-color: #660000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

section {
    padding: 5px;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: left;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
}
.social-icons {
    margin-right: auto;
}

.social-icons a {
    margin-right: 1px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #000000;
    text-align: center;
    line-height: 3px;
    border-radius: 60%;
    color: #000000;
}
  
  .flip-card {
    float: left;
    margin: 30px;
    width: 100%;
    max-width: 350px;
    height: 530px;
    perspective: 1000px;
    background-color: 
      transparent;
  }
  
  .flip-card-img {
    height: 300px;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  }
  
  .flip-card img {
    width: 100%;
  }
  
  .flip-card-text {
    padding: 10px;
  }
  
  .flip-card h2 {
    font-weight: 600;
    font-size: 1.8em;
  }
  
  .flip-card p.title {
    color: rgb(156, 22, 22);
    font-size: 1.5em;
  }
  
  .flip-card p {
    font-size: 1em;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: 
      preserve-3d;
    box-shadow: 
      0 4px 8px 0 
      rgba(0,0,0,0.2);
  }
  
  .flip-card:hover 
  .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front a, 
  .flip-card-back a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(139, 48, 48);
  }
    
  .flip-card-front, 
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility:
      hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    color: rgb(156, 22, 22);
    border: 
      5px solid #7d0000;
    background-color: rgb(0, 0, 0);
  }
  
  .flip-card-back {
    color: rgb(156, 22, 22);;
    border: 5px solid #7d0000;
    transform: rotateY(180deg);
    background-color: #000000;
  }
  
  .flip-card-back i {
    padding: 15px;
  }
  /* Для размера 360x740 */
@media (max-width: 360px) {
  nav {
      padding: 0; /* Убираем внешний отступ у навигационного меню */
      position: static; /* Убираем позиционирование для навигационного меню */
      display: flex; /* Используем flexbox для расположения кнопок */
      flex-wrap: wrap; /* Позволяем кнопкам переноситься на следующую строку */
      justify-content: center; /* Выравниваем кнопки по центру */
  }
  nav a, .dropbtn {
      margin: 0 2%; /* Отступы по горизонтали 2% */
      padding: 2% 3%; /* Внутренние отступы 2% сверху и снизу, 3% слева и справа */
      font-size: 3.5vw; /* Размер шрифта в виртуальных единицах ширины (vw) */
  }
  .main-title {
      font-size: 4.5vw; /* Размер шрифта заголовка в виртуальных единицах ширины (vw) */
      padding: 2% 3%; /* Внутренние отступы 2% сверху и снизу, 3% слева и справа */
      margin: 3% auto; /* Отступы по вертикали 3%, по горизонтали авто */
      width: 90%; /* Ширина заголовка 90% */
  }
  .dropdown-content {
      min-width: 20%; /* Минимальная ширина выпадающего меню 20% */
  }
  .social-icons a {
      width: 5%; /* Ширина иконок социальных сетей 5% */
      height: 5%; /* Высота иконок социальных сетей 5% */
      line-height: 2px;
  }
}